.homePage {
  position: relative;
  width: 100%;
  height: 2850px;
  background-color: #F5E8D3;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: absolute;
  left: 440px;
  top: 120px;
}
.botao  {
  border: 0px;
  background: transparent;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}
.link > div {
  background-color: #6E2C2C;
  height: 4px;
}

.triangulo {
  position: absolute;
  right: 0px;
  height: 500px;
  top: -50px;
}

.triangulo2 {
  position: absolute;
  height: 900px;  
  width: 500px;
  top: 450px;
}

.triangulo4 {
  position: absolute;
  right: 0px;
  height: 600px;
  width: 295px;
  top: 1400px;
}
.triangulo5 {
  position: absolute;
  height: 1000px;
  top: 1660px;
}

.logo {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 150px;
  align-items: center;
}

.logo > img {
  height: 140px;
}

.logo > span {
  font-size: 15px;
  font-family: Roboto;
  background-color: #A9021E;
  color: white;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
  font-weight: 400;
}
.carousel {
  position: absolute;
  bottom: 800px;
  height: 400px;
  width: 100%;
  top: 350px;
  align-items: center;
}
.image {
  height: 380px;
  width: 100%;
  
}
.titulo {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 800px;
  position: absolute;
  align-items: center;
  top: 250px;
  right: 270px;
}
.titulo > div {
  height: 6px;
  width: 100%;
  background-color: #6E2C2C;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.55);
}
.titulo > span {
  font-size: 32px;
  font-family: Roboto;
  font-weight: 300;
}
.cards {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1370px;
  margin-left: 89px;
}
.tituloS {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  align-items: center;
  top: 800px;
  margin-left: 470px;
}

.tituloS > div {
  height: 5px;
  width: 100%;
  background-color: #6E2C2C;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.25);
}

.tituloS > span {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
  margin-top: 7px;
  text-align: center;
}

.tituloS > p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  width: 600px;
  text-align: center;
}
.titulo2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  align-items: center;
  top: 1200px;
  margin-left: 470px;
}

.titulo2 > div {
  height: 5px;
  width: 100%;
  background-color: #6E2C2C;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.25);
}

.titulo2 > span {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
  margin-top: 10px;
}

.titulo2 > p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
}

.titulo3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  align-items: center;
  top: 2150px;
  margin-left: 470px;
  justify-content: space-between;
}

.titulo3 > div {
  height: 5px;
  width: 100%;
  background-color: #6E2C2C;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.25);
}

.titulo3 > span {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
}

.titulo3 > p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
}
.grid {
  position: absolute;
  top: 2350px;
  left: 90px;
  width: 1200px;
}
.inform {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  top: -100px;
  background-color: #6E2C2C;
  padding: 30px;
}

.rodape {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerSVG {
  position: absolute;
  width: 100%;
  bottom: -40px;
}

@media (max-width: 414px) { /*Celular*/
  .HomePage {
    width: 100vw;
    height: 100%;
    overflow-x: unset;
  }
  .logo {
    align-items: center;
    left: 5px;
  }
  html {
    background-color:  #F5E8D3;
  }
  .logo > img {
    width: 150px;
    height: 200px;
  }
  .logo > span {
    font-size: 18px;
  }
  .menu {
    width: 400px;
    left: 10px;
    top: 250px
  }
  .botao {
    font-size: 15px;
  }
  .titulo {
    width: 414px;
    left: 0px;
    top: 320px;
  }
  .titulo > span {
    font-size: 20px;
  }
  .titulo > div {
    width: 350px;
    height: 5px;
  }
  .tituloS{
    right: 20%;
    width: 250px;
    top: 830px;
  }
  .tituloS > span {
    font-size: 20px;
  }
  .tituloS > p {
    font-size: 15px;
    width: 350px;
  }
  .triangulo {
    left: 250px;
    width: 170px;
    top: -150px;
  }
  .triangulo2 {
    width: 200px;
    top: 850px;
  }
  .triangulo5 {
    width: 150px;
    top: 1650px;
  }
  .triangulo4 {
    width: 150px;
    right: -60px;
  }
  .carousel {
    width: 400px;
    height: 476px;
    top: 400px
  }
  .titulo2 {
    width: 350px;
    top: 1120px;
    margin-left: 8%;
  }
  .titulo2 > span {
    font-size: 20px;
  }
  .titulo2 > p {
    font-size: 15px;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 1300px;
    margin-left: 10%;
  }
  .titulo3 {
    width: 350px;
    top: 4140px;
    margin-left: 9%;
  }
  .titulo3 > span {
    font-size: 20px;
  }
  .grid {
    width: 417px;
    left: 0px;
    top: 4300px;
  }
  .rodape {
    width: 100%;
    position: absolute;
    top: 4700px;
  }
  .inform {
    width: 414px;
    flex-direction: column;
  }
  
}
