.HomePage {
    background-color: #F5E8D3;
    height: 100%;
    width: 100%;
    position: relative;
  }
.triangulo {
    position: absolute;
    left: 1050px;
    height: 600px;
    width: 300px;
    top: -90px;
}

.triangulo2 {
    margin-top: 100px;
    height: 900px;  
    width: 500px;  
}
.logo {
     position: absolute;
     left: 20px;
     top: 40px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 415.06px;
     align-items: center;
}

.logo > span {
  font-size: 20px;
  background-color: #A9021E;
  color: white;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;

}
.carousel {
  position: absolute;
  bottom: 800px;
  height: 507px;
  width: 1400px;
  top: -600px;
}
.image {
  height: 507px;
  width: 100%;
  
}
.titulo {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 800px;
  position: absolute;
  align-items: center;
  top: 300px;
  right: 270px;
}
.titulo > div {
  height: 7px;
  width: 100%;
  background-color: #6E2C2C;
}
.titulo > span {
  font-size: 25px;
}
.cards {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 1200px;
  left: 65px;
}
.titulo2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  align-items: center;
  top: 1020px;
  left: 470px;
}
.titulo2 > div {
  height: 7px;
  width: 100%;
  background-color: #6E2C2C;
}
.titulo2 > span {
  font-size: 40px;
}
.inform {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  top: 700px;
  background-color: #6E2C2C;
  padding: 30px;
}
.rodape {
  background-color: #6E2C2C;
  position: absolute;
  width: 100%;
}
